mixin topicContent(content)
    div
        span 
        div 
            h3
                a(href=`http:/content/secretLounge/${content.id}`)  #{content.title}
            p
                a(href=`http:/content/secretLounge/${content.id}`) #{content.description} 
        div
            p 
                a(href=`http:/content/secretLounge/${content.id}`) #{content.owner.name} 
            div 
                a(href=`http:/content/secretLounge/${content.id}`) #{content.meta.views}
                if content.meta.likes === 0
                    div
                        i(class=`fa-regular fa-thumbs-up`, id="isLiked") 
                        a(href=`http:/content/secretLounge/${content.id}`) 좋아요
                else
                    div
                        i(class=`fa-solid fa-thumbs-up`, id="isLiked") #{content.meta.likes}
                if content.comment.length === 0
                    div
                        i(class=`fa-regular fa-comment`, id="commentLength") 
                        a(href=`http:/content/secretLounge/${content.id}`) 답글
                else 
                    div
                        i(class=`fa-solid fa-comment`, id="commentLength") 
                        a(href=`http:/content/secretLounge/${content.id}`) #{content.comment.length}    
            div     
                a(href=`http:/content/secretLounge/${content.id}`, class="contentCreatedAt") #{content.createdAt.getTime()}

    