mixin topicContent(content)
    div
        span 
        div 
            h3
                a(href=`http:/content/secretLounge/${content.id}`)  #{content.title}
            p
                a(href=`http:/content/secretLounge/${content.id}`) #{content.description} 
        div 
            p 
                a(href=`http:/content/secretLounge/${content.id}`) 작성자 정보 넣어야함 
            div 
                a(href="http://") #{content.meta.views}
                a(href="http://") #{content.meta.likes}
                a(href="http://") 댓글수