extends base.pug

block contentMain 
    if errorMessage
        span=errorMessage
    form(method="POST")
        div#title
            span 제목
            input(placeholder="제목", name="title", type="text", required)
        div#place
            span 장소
            input(placeholder="장소", name="place", type="text")
        div#date_and_time.date_and_time 
            span 일시
            div.date_and_time_Section
                span#start_year_month_date #{year}년 #{month}월 #{date}일
                select#start_time(name="start_time") 
                    option(value="오전 12:30") 오전 12:30
                    option(value="오전 01:00") 오전 01:00
                    option(value="오전 01:30") 오전 01:30
                    option(value="오전 02:00") 오전 02:00
                    option(value="오전 02:30") 오전 02:30
                    option(value="오전 03:00") 오전 03:00
                    option(value="오전 03:30") 오전 03:30
                    option(value="오전 04:00") 오전 04:00
                    option(value="오전 04:30") 오전 04:30
                    option(value="오전 05:00") 오전 05:00
                    option(value="오전 05:30") 오전 05:30
                    option(value="오전 06:00") 오전 06:00
                    option(value="오전 06:30") 오전 06:30
                    option(value="오전 07:00") 오전 07:00
                    option(value="오전 07:30") 오전 07:30
                    option(value="오전 08:00") 오전 08:00
                    option(value="오전 08:30") 오전 08:30
                    option(value="오전 09:00") 오전 09:00
                    option(value="오전 09:30") 오전 09:30
                    option(value="오전 10:00") 오전 10:00
                    option(value="오전 10:30") 오전 10:30
                    option(value="오전 11:00") 오전 11:00
                    option(value="오전 11:30") 오전 11:30
                    option(value="오후 12:00") 오후 12:00
                    option(value="오후 12:30") 오후 12:30
                    option(value="오후 01:00") 오후 01:00
                    option(value="오후 01:30") 오후 01:30
                    option(value="오후 02:00") 오후 02:00
                    option(value="오후 02:30") 오후 02:30
                    option(value="오후 03:00") 오후 03:00
                    option(value="오후 03:30") 오후 03:30
                    option(value="오후 04:00") 오후 04:00
                    option(value="오후 04:30") 오후 04:30
                    option(value="오후 05:00") 오후 05:00
                    option(value="오후 05:30") 오후 05:30
                    option(value="오후 06:00") 오후 06:00
                    option(value="오후 06:30") 오후 06:30
                    option(value="오후 07:00") 오후 07:00
                    option(value="오후 07:30") 오후 07:30
                    option(value="오후 08:00") 오후 08:00
                    option(value="오후 08:30") 오후 08:30
                    option(value="오후 09:00") 오후 09:00
                    option(value="오후 09:30") 오후 09:30
                    option(value="오후 10:00") 오후 10:00
                    option(value="오후 10:30") 오후 10:30
                    option(value="오후 11:00") 오후 11:00
                    option(value="오후 11:30") 오후 11:30
                span -
                select#end_year(name="end_year")
                select#end_month(name="end_month")
                select#end_date(name="end_date")
                select#end_time(name="end_time") 
                    option(value="오전 12:30") 오전 12:30
                    option(value="오전 01:00") 오전 01:00
                    option(value="오전 01:30") 오전 01:30
                    option(value="오전 02:00") 오전 02:00
                    option(value="오전 02:30") 오전 02:30
                    option(value="오전 03:00") 오전 03:00
                    option(value="오전 03:30") 오전 03:30
                    option(value="오전 04:00") 오전 04:00
                    option(value="오전 04:30") 오전 04:30
                    option(value="오전 05:00") 오전 05:00
                    option(value="오전 05:30") 오전 05:30
                    option(value="오전 06:00") 오전 06:00
                    option(value="오전 06:30") 오전 06:30
                    option(value="오전 07:00") 오전 07:00
                    option(value="오전 07:30") 오전 07:30
                    option(value="오전 08:00") 오전 08:00
                    option(value="오전 08:30") 오전 08:30
                    option(value="오전 09:00") 오전 09:00
                    option(value="오전 09:30") 오전 09:30
                    option(value="오전 10:00") 오전 10:00
                    option(value="오전 10:30") 오전 10:30
                    option(value="오전 11:00") 오전 11:00
                    option(value="오전 11:30") 오전 11:30
                    option(value="오후 12:00") 오후 12:00
                    option(value="오후 12:30") 오후 12:30
                    option(value="오후 01:00") 오후 01:00
                    option(value="오후 01:30") 오후 01:30
                    option(value="오후 02:00") 오후 02:00
                    option(value="오후 02:30") 오후 02:30
                    option(value="오후 03:00") 오후 03:00
                    option(value="오후 03:30") 오후 03:30
                    option(value="오후 04:00") 오후 04:00
                    option(value="오후 04:30") 오후 04:30
                    option(value="오후 05:00") 오후 05:00
                    option(value="오후 05:30") 오후 05:30
                    option(value="오후 06:00") 오후 06:00
                    option(value="오후 06:30") 오후 06:30
                    option(value="오후 07:00") 오후 07:00
                    option(value="오후 07:30") 오후 07:30
                    option(value="오후 08:00") 오후 08:00
                    option(value="오후 08:30") 오후 08:30
                    option(value="오후 09:00") 오후 09:00
                    option(value="오후 09:30") 오후 09:30
                    option(value="오후 10:00") 오후 10:00
                    option(value="오후 10:30") 오후 10:30
                    option(value="오후 11:00") 오후 11:00
                    option(value="오후 11:30") 오후 11:30
                span 
                    input(name="isAllDay", id="isAllDay", type="checkbox", value=true)
                    label(for="isAllDay") 종일
        div#isPublic_div
            span 공개
            input(name="isPublic", type="radio", id="public_default", value=true, checked="checked")
            label(for="public_default") 기본
            input(name="isPublic", type="radio", id="public_private", value=false)
            label(for="public_private") 비공개
        div#description
            span 설명
            textarea(name="description", cols="30", rows="5")  
        div#submit_cancel
            input(type="submit", value="저장")
            input(type="button", value="취소", id="cancelBtn")

block scripts
    script(src="/client/js/calenderAddForm.js")