extends base.pug

block contentMain
    include partials/contentNav.pug
    div
        h2=content.title 
        h4=content.createdAt
    div 
        p=content.description
    div
        a(href=`${content._id}/edit`) 수정
        a(href=`${content._id}/delete`) 삭제

