extends base.pug

block contentMain
    include partials/contentNav.pug
    div
        h2=content.title 
    div
        img(src="/"+content.owner.profileImage, height="50")
        a(href=`/users/${content.owner._id}`) #{content.owner.name}
    div
        small=content.createdAt
        small #{content.meta.views}
        small #{content.meta.likes}
        small 댓글수
    img(src="/"+content.contentImage, width="200")
    div 
        p=content.description
    if String(content.owner._id) === String(loggedInUser._id)
        div
            a(href=`${content._id}/edit`) 수정
            a(href=`${content._id}/delete`) 삭제
    div()
        span(id="contentLikes") #{content.meta.likes}
        span() 댓글수

block scripts 
    script(src="/client/js/contentLikes.js") 
        
