extends base.pug

block contentMain
    div#contentContainer(data-id=content._id)
        include partials/contentNav.pug
        div
            h2=content.title 
        div
            img(src="/"+content.owner.profileImage, height="50")
            a(href=`/users/${content.owner._id}`) #{content.owner.name}
        div
            small(id="contentCreatedAt", class="contentCreatedAt") #{content.createdAt.getTime()}
            small #{content.meta.views}
            //- small #{content.meta.likes}
            small #{content.comment.length}
        img(src="/"+content.contentImage, width="200")
        div 
            p=content.description
        if String(content.owner._id) === String(loggedInUser._id)
            div
                a(href=`${content._id}/edit`) 수정
                a(href=`${content._id}/delete`) 삭제
        div.view__section
            i(class=`fa-${Likes} fa-thumbs-up`, id="isLiked")
            span(id="contentLikes") #{content.meta.likes !== 0 ? content.meta.likes : "좋아요"}
            span(id="commentCount") #{content.comment.length}
        div.comment__add-section
            form.comment__form#comment__form
                textarea(cols="30", rows="3", placeholder="댓글 추가...")
                button#addCommentBtn 댓글

        hr
        div.comment__section
                    each singleComment in comment.reverse()
                        div.contentComment(data-id=singleComment._id)
                            p=singleComment.ownerName
                            p.singleComment__text(data-id=singleComment._id) #{singleComment.text}
                            div.commentInfo
                                span(class="contentCreatedAt") #{singleComment.createdAt.getTime()}
                                span 좋아요 
                                if Object.keys(loggedInUser).length !== 0
                                    span(class="addNestedComment", data-addNestedComment=singleComment._id, data-commentid=content._id) 답글
                                if String(singleComment.owner) === String(loggedInUser._id)
                                    div 
                                        if String(singleComment.owner) === String(loggedInUser._id)
                                            span(data-commentEdit=singleComment._id).commentEdit 수정
                                            a(href=`/content/secretLounge/comment/${content._id}&${singleComment._id}/delete`) 삭제
                                        if singleComment.nestedComment.length !== 0
                                            div.see__more__nestedComment__btn(data-seeMore=singleComment._id) ▼ 답글 #{singleComment.nestedComment.length}
                                        else 
                                            div.see__more__nestedComment__btn(data-seeMore=singleComment._id, style="display:none") ▼ 답글 #{singleComment.nestedComment.length}
                                    div.see__more__nestedComment(data-seeMore=singleComment._id)
                                        each moreNested in singleComment.nestedComment
                                            div.nested__comment
                                                div=moreNested.ownerName
                                                div=moreNested.text
                                                div 
                                                    span(class="contentCreatedAt") #{moreNested.createdAt.getTime()}
                                                    span 좋아요
                                                    if String(moreNested.owner) === String(loggedInUser._id) 
                                                        a(href=`/content/secretLounge/nestedComment/${content._id}&${singleComment._id}&${moreNested._id}/delete`) 삭제 
                        hr

block scripts 
    script(src="/client/js/contentLikes.js")
    script(src="/client/js/timeFormat.js")
    script(src="/client/js/commentSection.js") 
    

        
